main {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-areas: 'option display';
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}