.list {
    grid-area: list;
    display: grid;
    align-self: start;
    justify-content: start;
    justify-items: center;
    margin-top: 5vh;
    color: wheat;
    font-size: 2rem;
    font-weight: bolder;
    font-family: fantasy;
}

ul {
    display: grid;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

label {
    margin-bottom: 1%;
}